<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Configura la fuente de datos (dataSource) -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/chatdb</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">david2004</property>

        <!-- Configura el dialecto SQL para tu base de datos -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Configura el escaneo de paquetes para tus entidades -->
        <mapping class="com.avellaneda.Hibernate.Mensaje"/>
        <mapping class="com.avellaneda.Hibernate.Usuario"/>
    </session-factory>
</hibernate-configuration>
