<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

    <!-- Configura el servlet de inicio de la aplicación -->

    <welcome-file-list>
        <welcome-file>chat.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>EnviarMensajeServlet</servlet-name>
        <servlet-class>com.avellaneda.Servlets.EnviarMensajeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EnviarMensajeServlet</servlet-name>
        <url-pattern>/EnviarMensajeServlet</url-pattern>
    </servlet-mapping>
</web-app>
